html {
    scroll-behavior: smooth;
}
body {
    background-image: url("images/háttér.png");
    background-size: cover;
    overflow: overlay;
}
.container {
    border-style: dashed !important;
}
.header {
    background-image: url("images/header.jpg");
    background-size: auto;
    height: 375px;
}
.header h1 {
    text-shadow: 3px 3px 15px white;
}
.section {
    background-image: url("images/Filmek\ back.jfif");
    background-size: cover;
}
img {
    border-radius: 15px;
}
iframe {
    border-radius: 15px;
}
.lapteteje {
    right: 20px;
    bottom: 30px;
    position: fixed;
    display: none;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(226, 226, 226);
}